@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./base.css";

body {
  background: url("/src/assets/img/bg.jpg") no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
}

.outer-wrap {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  /* grid-template-columns: 4fr 1fr; */
  gap: 30px;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: sticky;
  z-index: 1;
  top: 200px;
  overflow-x: hidden;
  padding-top: 0px;
}

.card-item {
  @apply rounded-xl bg-white backdrop-blur bg-opacity-90 p-5 text-white border-white border-2 border-opacity-10;
}

.scroll-wrap {
  overflow: overlay;
  width: 100%;
}

@media (max-width: 1700px) {
  .outer-wrap {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media (max-width: 1439px) {
  .outer-wrap {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    flex-direction: column-reverse;
  }

  .sidebar {
    height: 100%;
    width: 100%;
    position: static !important;
    display: flex;
    gap: 30px;
  }

  .sidebar > div {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .outer-wrap {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    flex-direction: column-reverse;
  }

  .sidebar {
    height: 100%;
    width: 100%;
    position: static !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sidebar > div {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .outer-wrap {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    flex-direction: column-reverse;
  }
}
